
* {
    font-family: 'Outfit',  sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* para poder centrar el h1 y el contenedor */
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    min-height: 100vh;
    overflow: hidden; /* opcional, para evitar scroll */
    background: #f5f5f5; /* si querés */
    padding: 20px; /* opcional para un poco de espacio */
}

h1 {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(155, 160, 155);;
}

.cats {
    display: flex;
    flex-wrap: wrap;
    margin: 0 350px;
    gap: 20px;
    justify-content: center;
    align-self: center;

}

.cat-box {
    width: 200px;
    height: 150px;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.cat-box:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.cat-box svg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px ;
}

.cat-name {
    font-weight: bold;
    color: white;
}