* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 0;
    width: min(800px, 100%);
    margin: 1rem auto;
    background-image: url('/resources/imgs/background-missions.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.644);
    padding: 1.5rem;
    border-radius: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header h2 {
    color: white;
    font-size: xx-large;
    margin: 0 auto;
}

.header-content a {
    display: flex;
}

.header-content img {
    width: 30px;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p{
    font-size: 2rem;

}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: min(500px, 100%);
    padding: .5rem;
    transition: box-shadow .3s ease;
}

.card-container {
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.card-title {
    color: white;
    font-size: 25px;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-button {
    padding: .6rem;
    border-radius: 10px;
    cursor: pointer;
    width: min(100px, 100%);
    border: none;
    color: black;
    background-color: white;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.card-button:hover {
    color: black;
}


