* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #9fec9c;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 800px;
    height: auto;
}

.container-misiones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-misiones {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    max-width: 600px;
    min-height: 150px;
    transition: box-shadow 0.3s ease;
    border-radius: 58px;
    background: darkgreen;
    box-shadow: 5px 5px 21px #004b00, -5px -5px 21px #007d00;
}

.container-trofeos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-trofeos img {
    width: 70px;
}

.trofeos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 115px;
    font-weight: bold;
    color: #0b3010;
    padding: 1rem;
    border-radius: 50px;
    background: #D6EFD8;
    box-shadow: 20px 20px 60px #114232,
    -20px -20px 60px #114232;
}

.cambiar-mision {
    align-self: end;
    cursor: pointer;
    padding: 0.5rem;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mision-content {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    gap: 1rem;
    width: 100%;
}

.mision-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.mision-title {
    font-size: 1rem;
    color: rgba(173, 255, 47, 0.77);
    margin: 0;
}

.progreso {
    width: 100%;
    max-width: 350px;
    --height: 20px;
    position: relative;
    text-align: center;
    border: 1px solid #d6efd88a;
    border-radius: 10px;
}

.progreso-text {
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

sl-progress-bar::part(indicator) {
    background: #0b3010;
    border: 1px solid #d6efd88a;
    border-radius: 10px;
}