<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Misiones</title>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{resources/core/css/misiones.css}">

</head>

<body>

<main class="main">

    <div class="container-misiones" id="containerMisiones">
        <sl-spinner style="font-size: 3rem; --indicator-color:darkgreen ; --track-color: green;"></sl-spinner>
    </div>

</main>

<script th:type="module" th:src="@{resources/core/js/misiones.js}"></script>
<script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</body>
</html>
